/*----- Styles Généraux -----*/

@font-face {
    font-family: kanit;
    src: url(../font/Kanit/Kanit-Regular.ttf);
  }

@font-face {
    font-family: lalezar;
    src: url(../font/Lalezar/Lalezar-Regular.ttf);
}

:root {
    --rose: #D1D2F9;
    --beige: #C9CAD9;
    --mauve: #A3BCF9;
    --gris: #7C7C7C;
    --bleu: #084667;
    --blanc: white;
}

@media screen and (max-width: 992px) { 
    h2 {font-size: 50px; }
  }

nav {
    background-color: var(--bs-secondary);
    width: 100vw;
    border-bottom: 3px solid var(--bs-primary);
}

.nav-link:active {
    font-weight: 500;
}

main {
    height: 120%;
    overflow-y: scroll;
    padding-top: 80px;
}


/*----- Section Hero -----*/

.cadre {
    width: 100%;
    max-width: 306px;
    aspect-ratio: 5/9;
    border: 3px solid var(--bs-primary);
    border-radius: 8px;
    box-shadow: 2px 10px 10px var(--bs-primary);
}

iframe {
    height: 100%;
}

.btn {
    background-color: var(--bs-secondary);
    border: 3px solid var(--bs-primary);
    border-radius: 50px;
    color: var(--bs-primary);
    margin: 4% 0;
}

.btn:hover {
    background-color: var(--bs-info);
    border: 3px solid var(--bs-primary);
    border-radius: 50px;
    color: var(--bs-primary);
    margin: 4% 0;
}

/*----- Section fonctionnalités -----*/

.features {
    background-color: var(--bs-info);
    width: 100%;
}

.features p {
    color: var(--bs-primary);
}

.card {
    border: 3px solid var(--bs-primary);
    color: var(--bs-primary);
    height: 100%;
    border-radius: 33px;
}

i {
    color: var(--bs-secondary);
    font-size: 30px;
}

.vl {
    color: var(--bs-secondary);
    width: 100px;
    border-left: 3px solid var(--bs-secondary);
    height: 100%;
}

/*----- Section FAQ -----*/

.accordion-button {
    border: 3px solid var(--bs-primary);
}

/*----- Section témoignages -----*/

.section-testimonials {
    background-color: var(--bs-info);
}

.section-testimonials img {
    height: 26vh;
    width: auto;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
    object-position: 100% 10%;
}

/*----- Section infolettre -----*/

.section-infolettre {
    background-image: url(../assets/images/dorel-gnatiuc-sLEO6BoRZF8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-infolettre .col {
    background-color: var(--bs-white);
    opacity: 85%;
}

/*----- Section modal -----*/

.modal input {
    width: 90%;
    height: 4vh;
    border: 1px solid var(--bs-primary);
    border-radius: 5px;
}

/*----- Section voir plus -----*/

.swiper img {
    border: 3px solid var(--bs-primary);
    border-radius: 8px;
    box-shadow: 2px 10px 10px var(--bs-primary);
    width: 100%;
    
}

@media screen and (max-width: 1200px) { 
    .swiper img {width: 50%; }
  }

  @media screen and (max-width: 992px) { 
    .swiper img {width: 70%; }
  }

div.swiper-slide:not(.swiper-slide-active){
    opacity: 0.5;
}

.swiper-button-next, .swiper-button-prev {
    background-color: var(--bs-secondary);
    border-radius: 100%;
    padding: 30px 30px;
    border: 3px solid var(--bs-primary);
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: var(--bs-info);
}

.swiper-button-next::after, .swiper-button-prev::after {
    color: var(--bs-primary);
}

/*----- Section footer -----*/

footer {
    background-color: var(--bs-secondary);
    border-top: 3px solid var(--bs-primary);
    color: var(--bs-primary);
}

footer a {
    text-decoration: none;
    color: var(--bs-primary);
}

footer a:hover {
    color: var(--bs-white);
}