/*----- Styles Généraux -----*/

@font-face {
    font-family: kanit;
    src: url(/font/Kanit/Kanit-Regular.ttf);
  }

@font-face {
    font-family: lalezar;
    src: url(/font/Lalezar/Lalezar-Regular.ttf);
}

:root {
    --rose: #D1D2F9;
    --beige: #C9CAD9;
    --mauve: #A3BCF9;
    --gris: #7C7C7C;
    --bleu: #084667;
    --blanc: white;
}

nav {
    background-color: var(--mauve);
    width: 100vw;
    border-bottom: 3px solid var(--bleu);
}

main {
    height: 120%;
    overflow-y: scroll;
    padding-top: 80px;
}


/*----- Section Hero -----*/

.cadre {
    width: 100%;
    max-width: 306px;
    aspect-ratio: 5/9;
    border: 3px solid var(--bleu);
    border-radius: 8px;
    box-shadow: 2px 10px 10px var(--bleu);
}

.btn {
    background-color: var(--mauve);
    border: 3px solid var(--bleu);
    border-radius: 50px;
    color: var(--bleu);
    margin: 4% 0;
}

.btn:hover {
    background-color: var(--beige);
    border: 3px solid var(--bleu);
    border-radius: 50px;
    color: var(--bleu);
    margin: 4% 0;
}

/*----- Section fonctionnalités -----*/

.features {
    background-color: var(--beige);
    width: 100%;
}

.features p {
    color: var(--bleu);
}

.card {
    border: 3px solid var(--bleu);
    color: var(--bleu);
    height: 100%;
    border-radius: 33px;
}

i {
    color: var(--mauve);
    font-size: 30px;
}

.vl {
    color: var(--mauve);
    width: 100px;
    border-left: 3px solid var(--mauve);
    height: 100%;
}

/*----- Section footer -----*/

footer {
    background-color: var(--beige);
    color: var(--bleu);
}

footer a {
    text-decoration: none;
    color: var(--bleu)
}

footer a:hover {
    font-weight: 500;
}