/*----- Styles Généraux -----*/

@font-face {
    font-family: kanit;
    src: url(/font/Kanit/Kanit-Regular.ttf);
  }

@font-face {
    font-family: lalezar;
    src: url(/font/Lalezar/Lalezar-Regular.ttf);
}

:root {
    --rose: #D1D2F9;
    --beige: #C9CAD9;
    --mauve: #A3BCF9;
    --gris: #7C7C7C;
    --bleu: #084667;
    --blanc: white;
}

/*----- Section Hero -----*/
h2{ 
    font-size: 40px; 
    font-weight: bolder;
    font-family: lalezar;
    color: var(--bleu); 
}

img{
    height: 50px;
    
}

nav{
    background-color: var(--mauve);
    width: 100vw;
    outline: var(--bleu);
    outline-style:groove;
    outline-width: 1.5px;
    overflow-x: hidden; 
}

.navbar-toggler{
    position: relative;
    flex-direction: row-reverse;
}

main{
    position:static;
    height: 120%;
    overflow-y: scroll;
    
}

Footer {
    height: 120px;
    background-color: var(--mauve);
    width: 100%;
    outline: var(--bleu);
    outline-style:groove;
    outline-width: 1.5px;
    position:relative;
    bottom:0;
}

footer a {
    bottom: 0px;
    text-decoration: none;
    color: var(--bleu)
}

#projetRealiser{
    color: var(--bleu);
    font-size: 18px;
    font-family: kanit;
}

.list-ul {
    list-style: none;
}

#listbutton{
    font-family: kanit;
    font-weight: bolder;
    font-size: 15px ;
    border-color: var(--bleu);
    border-radius: 10px;
    border-width: 2px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    margin-right: 3px;
    justify-content: flex-start;
}

#listbutton:hover{
    background-color: var(--mauve);
    border-color: var(--mauve);
}

.sec2 {
    position: relative;
    overflow: hidden;
    top:80px;
    display: flex;
    justify-content: center;
}

.form-control{
    border-radius: 10px;
    font-family: Kanit;
    border-color: var(--bleu);
    border-width: 2px;

}

.input-group-text{
    border-radius: 10px;
    border-color: var(--bleu);
    border-width: 2px;
    background-color: var(--mauve);
}

.sec1{
    position: relative;
    width: 800px;
    top: 70px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--blanc);
}


#section-artist-vedette{
    padding-top: 100px;
    margin-right: 5px;
}

#carteAutre{
    padding-top: 5px;
    padding-bottom:5px;
}

#carteAutre:hover{
    transform: scale(102%);
}

.card{
    border-color: var(--bleu);
    border-radius: 10px;
    border-width: 2px;
    background-color: var(--rose);
    text-decoration: none;
}

.card-img-top {
    height: 15vh;
    object-fit: cover;
    object-position: 50%;
}

.card:hover{
    background-color: var(--mauve);
}

#carteVedette{
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
}

#carteVedette:hover{
    transform: scale(102%);

}

.plusInfo .card-text .card-title .date{
    font-family:lalezar;
}