/*----- Styles Généraux -----*/

@font-face {
    font-family: kanit;
    src: url(/font/Kanit/Kanit-Regular.ttf);
  }

@font-face {
    font-family: lalezar;
    src: url(/font/Lalezar/Lalezar-Regular.ttf);
}

:root {
    --rose: #D1D2F9;
    --beige: #C9CAD9;
    --mauve: #A3BCF9;
    --gris: #7C7C7C;
    --bleu: #084667;
    --blanc: white;
}

/*----- Section Hero -----*/

nav{
    background-color: var(--mauve);
    width: 100vw;
    outline: var(--bleu);
    outline-style:groove;
    outline-width: 2px;
}

main{
    height: 120%;
    overflow-y: scroll;
}

footer a {
    text-decoration: none;
    color: var(--bleu)
}

footer a:hover {
    color: var(--bleu)
}

.navbar-toggler{
    flex-direction: row-reverse;
}

img{
    height: 50px;
    
}

Footer {
    height: 100px;
    background-color: var(--mauve);
    width: 100vw;
    outline: var(--bleu);
    outline-style:groove;
    outline-width: 2px;
    position:fixed;
    bottom:0;
}


#projet{
    color: var(--blanc);
    font-family: kanit;
    font-size: 16px;
}

#rechercheArt{
    position:fixed;
    top:80px;
}

.sec2 {
    overflow: hidden;
    position:fixed;
    top:170px;
}

.list-ul {
    list-style: none;
}

#listbutton{
    font-family: kanit;
    border-color: var(--bleu);
    border-radius: 10px;
    border-width: 2px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    margin-right: 5px;
}

#listbutton:hover{
    background-color: var(--mauve);
    border-color: var(--mauve);
}


#logoTIM{
    color: var(--blanc);
}

#rechercheArt{
    padding-left: 50px;
}

#sectionbutton{
   display: flex;
   text-align: center;
   justify-content: center;
   left: 500px;
}

.sec2 {
    display: flex;
    justify-content: center;
}

#section-artist-vedette{
    padding-top: 250px;
    margin-right: 5px;
    overflow-x: auto;
    display: inline-block;
}
